<table class="table table-dark" ng-if="items.length">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Short Name</th>
      <th scope="col">Description</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in items">
      <td>{{item.name}}</td>
      <td>{{item.short_name}}</td>
      <td>{{item.description}}</td>
      <td>
          <button class="btn" ng-click="dirRemoveItem({index: $index})">Don't want this one!</button>
      </td>
    </tr>
  </tbody>
</table>
